@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.app-main {
    padding: 1% 0;
}

@media screen and (max-width:400px) {
    .app-main {
        padding: 8.5% 0 1% 0;
        /* padding-top: 8.5%; */
    }
}

/* トップ画面 */
.top-page {
    background-color: #f6f6f3;
}

.flash-message {
    z-index: 100;
}

.hero-area {
    position: relative;
}

.hero-image {
    width: 100%;
    height: 58vw;
    object-fit: cover;
}

.fadein {
    opacity: 1;
    transition: opacity 2s;
}
  
.fadeout {
    opacity: 0;
    transition: opacity 2s;
}
  
.slideshow {
    position: absolute;
}

.main {
    color: white;
    position: absolute;
    top: 15vw;
    left: 10vw;
}

@media screen and (max-width:767px) {
    .main {
        margin-top: 10%;
        top: 7vw;
    }
}

.catchphrase {
    font-family: "YuKyokasho Yoko";
    font-size: 4vw;
}

.catchphrase1 {
    opacity: 0;
}

.catchphrase2 {
    margin-bottom: 10vw;
    opacity: 0;
}

.main .title {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    opacity: 0;
}

.main .title::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2%;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.main .title:hover::after {
    bottom: 10%;
    opacity: 1;
    visibility: visible;
  }

.concept {
    padding-top: 63vw;
    padding-bottom: 5vw;
    text-align: center;
    background-color: #f6f6f3;
}

.concept h1 {
    font-family: "YuKyokasho Yoko";
    color: black;
    font-size: 3.5vw;
}

.concept p {
    font-family: serif;
    font-size: 1.5vw;
    color: black;
    margin: 3vw 0;
}

.service {
    border: none;
}

.services {
    padding: 0vw 9vw;
    height: 27vw;
}

.service-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:0.5s all;
}

.service-img:hover {
    transform:scale(1.05);
    transition:0.5s all;
}

.service-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
    font-size: 2vw;
    font-weight: 700;
    position: absolute;
    bottom: 1vw;
    left: 10%;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    pointer-events: none
}

@media screen and (max-width:767px) {
    .service-name {
    bottom: -2.5vw;
    }
}

.service-name:hover {
    text-decoration: none;
    color: white;
}

.notifications {
    padding: 5vw;
    text-align: center;
}

/* フッター */

.footer {
    background-color: gray;
    color: white;
}

.footer-wrapper {
    display: flex;
}

.footer-main {
    padding: 3vw 15vw;
}

.footer-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
}

.footer-title:hover {
    color: #FF9966;
    text-decoration: none;
    transition: 0.5s;
}

.footer-service-list {
    padding: 0;
}

.footer-service-list li {
    font-family: 'Playfair Display', serif;
    font-size: 1.3vw;
    margin-left: 0;
    margin-right: 3vw;
    list-style: none;
    display: inline;
}

.footer-service-list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.footer-service-list li a:hover {
    color: #FF9966;
    transition: 0.5s;
}

.footer-second {
    padding-top: 3vw;
    padding-left: 15vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3vw;
}

.footer-detail {
    list-style: none;
    padding: 0;
}

.footer-detail li a {
    text-decoration: none;
    color: white;
}

.footer-detail li a:hover {
    color: #FF9966;
    transition: 0.5s;
}

@media screen and (max-width:767px) {
    .footer-wrapper {
        display: block;
        padding-left: 5vw;
    }

    .footer-main {
        padding: 5vw 5vw 0vw 5vw;
    }

    .footer-title {
        font-family: 'Playfair Display', serif;
        font-size: 7vw;
        text-decoration: none;
        color: white;
    }

    .footer-service-list li {
        font-family: 'Playfair Display', serif;
        font-size: 4vw;
        margin-left: 0;
        margin-right: 5vw;
        list-style: none;
        display: inline;
    }

    .footer-second {
        padding-top: 1vw;
        padding-bottom: 3vw;
        padding-left: 5vw;
        font-size: 3vw;
    }
    
    .footer-detail {
        list-style: none;
    }
}

/* ユーザー・アソシエイトログイン画面 */

.login-form {
    margin: 10vw 0;
}

.login-new-subscriber {
    margin-top: 1vw;
}

/* .login-header {
    font-size: 2vw;
} */

/* ユーザー・アソシエイト登録画面 */

.register-form {
    margin: 10% 0;
}

/* マイページ */
.mypage-top-image {
    background-image: url("/images/cat-g06fa9aedb_1920.jpg");
    background-position: center;
    background-size: cover;
    height: 30vw;
    position: relative;
}

.mypage-top-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
}

.mypage-main {
    padding: 5% 10%;
}

.mypage-profile {
    /* text-align: center; */
    width: 60%;
    margin: 0 auto;
}

.mypage-profile-main {
    /* text-align: center; */
    /* width: 60%; */
    margin: 0 auto;
    padding: 5%;
}

.mypage-profile-information {
    display: flex;
    flex-wrap: wrap;
    /* margin: 5% 0; */
    /* margin-bottom: 7%; */
}

/* .mypage-profile {
    text-align: center;
} */

.mypage-profile-icon {
    width: 40%;
    /* margin: 10% 0; */
    position: relative;
}

.mypage-profile-icon img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
    border: solid gray 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mypage-profile-detail {
    width: 50%;
    margin: 0 5%;
}

.mypage-profile-self-introduction {
    padding-top: 8%;
    padding-bottom: 3%;
    /* border-top: 1px solid lightgray; */
}

.mypage-profile-self-introduction p {
    margin: 0;
}

.mypage-profile-update {
    text-align: center;
    padding-bottom: 3%;
}

.mypage-profile-liked-articles {
    padding-top: 5%;
    border-top: 1px solid lightgray;
}

.mypage-profile-liked-article {
    font-family: 'Shippori Mincho', serif;
}

.mypage-profile-question {
    font-family: 'Hannotate SC', 'Kosugi Maru', 'MS UI Gothic', sans-serif;
}

.mypage-profile-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0;
}

.mypage-profile-card {
    width: 32.3%;
    margin: 0.5%;
}

.mypage-profile-card a {
    text-decoration: none;
    color: black;
}

.content-wrap-default {
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: 0 0 5% 0;
}

.content-wrap-alternative {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 5% 0;
}

.close-btn, .more-btn {
    display: block;
    width: 100%;
    padding: 10% 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 60%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 60%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 60%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#00ffffff',
        endColorstr='#ffffff',
        GradientType=0
    );
}

.close-btn {
    background: none;
}

.slide-up {
    height: 450px;
    padding-bottom: 0;
    overflow: hidden;
}

.slide-down {
    height: auto;
    overflow: visible;
    padding-bottom: 50px;
}

.more-btn p {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    background: #29B6F6;
    padding: 5px 20px;
    width: 80%;
    border-radius: 20px;
}

.close-btn {
    padding:0;
}

.close-btn p {
    background: #aaa;
}

.mypage-profile-question {
    padding: 2.5%;
    width: 45%;
    margin: 1.5% 2.5%;
    background-color: #339999;
}

.mypage-profile-question-body {
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .mypage-profile-question-body h6 {
    border-radius: 1rem;
    margin: auto;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* アバウトページ */
.about {
    padding-bottom: 5%;
}

.about-hero-image {
    position: relative;
    background-image: url("/images/japan-g9f509a5d8_1920.jpg");
    background-position: center;
    background-size: cover;
    height: 45vw;
}

.about-hero-image-concept {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
}

.about-hero-image-concept h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
}

.about-hero-image-concept p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.5vw;
    font-family: "YuKyokasho Yoko";
}

.about-hero-image img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
}

.about-main {
    font-family: YuMincho;
}

.about-main-prologue {
    margin: 5% 5% 10% 5%;
    text-align: center;
}

.about-main-prologue-heading {
    margin-bottom: 3%;
}

.about-main-prologue-content {
    font-size: 1.25vw;
}

.row--split {
    margin: 7% 5% 0 5%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1.5s, transform 1.5s;
}

.is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.row--split-heading {
    width: 40%;
}

.row--split-content {
    width: 60%;
    font-size: 1.25vw;
}

.about-main-insert-image {
    width: 50%;
}

.about-main-insert-image img {
    width: 100%;
}

.about-main-insert-content {
    width: 45%;
    margin-right: 5%;
    font-size: 1.25vw;
}

.about-main-insert-content p {
    margin-top: 5%;
}

.about-main-profile-image {
    width: 40%;
}

.about-main-profile-image img {
    width: 100%;
}

.about-main-profile-carrier {
    width: 50%;
    margin: 0 5%;
}

.about-main-profile-carrier {
    font-size: 1.25vw;
}

/* プライバシーポリシー */

.policy {
    padding: 5% 0;
}

.policy-body {
    margin: 5%;
}

.policy-title {
    border-bottom: 3px solid #339999;
}

.policy-text h4 {
    border-bottom: 1px solid #339999;
}

/* 画像投稿画面 */
.photo-create {
    padding: 5% 5%;
    margin: 5% 10%;
    background: linear-gradient(#b29f86 0%, #b29f86 20.43%, #473f35 100%);
}

.photo-create-form {
    padding: 7% 0;
    background-color: rgba(255, 255, 255, .8);
}

.photo-create-form-title {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Osaka', 'Yu Gothic UI', 'ヒラギノ角ゴシック','Hiragino Sans', sans-serif;

}

.photo-create-form-item {
    margin-left: 15%;
    font-family: 'M PLUS 2', sans-serif;
}

.photo-create-form-input {
    margin-left: 5%;
}

.photo-create-button button {
    background-color: #355469;
    color: white;
    box-shadow: 6px 6px 5px rgb(0 0 0 / 16%) inset;
    border: none;
    height: 2.5vw;
    width: 10vw;
    font-family: 'M PLUS 2', sans-serif;
}

/* 画像一覧 */
.photo-index-photo:hover {
    opacity: 0.8;
    transition:0.5s all;
}

@media screen and (max-width:400px) {
    .photo-index {
        margin-top: 20%;
    }
}

/* 各サービス共通部分 */

.service-top {
    display: flex;
    width: 100%;
    margin: 10% 0;
}

.service-top-image {
    width: 80%;
    height: 85%;
    position: absolute;
    right: 0%;
    top: 5%;
    object-fit: cover;
}

.service-index {
    padding: 10% 3% 3% 3%;
}

.service-search-form {
    position: fixed;
    right: 11.5%;
    z-index: 1;
}

.service-input {
    border: none;
    background-color: transparent;
    border-bottom: black 1px solid;
    border-radius: 0;
}

.service-input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s !important;
}

.service-input:focus {
    outline: none;
}

.service-index h1{
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 6vw;
    /* color: rgb(185, 149, 118); */
    color: maroon;
    z-index: 1;
    margin-top: 22%;
}

@media screen and (max-width:400px) {
    .service-top-image {
        width: 100%;
        height: 50%;
        position: absolute;
        right: 0%;
        top: 5%;
        object-fit: cover;
    }

    .service-top h1 {
        margin: 20% 10% 10% 10%;
    }

    .service-index {
        padding: 35% 1% 1% 1%;
    }

    .service-search-form {
        top: 20%;
    }
}

/* 記事一覧 */

.articles {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;
}

.article-wrapper {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    background-color: white;
    width: 45%;
    margin: 1% 1.5%;
    padding-bottom: 3%;
}

.article-wrapper:hover {
    transform:scale(1.025);
    transition:0.5s all;
}

.article-wrapper a {
    text-decoration: none;
}

.article-image {
    text-align: center;
}

.article-image img {
    margin: 5%;
    width: 90%;
}

.article-contents {
    margin: 1% 5%;
}

.article-title, .article-body {
    font-family: 'Shippori Mincho', serif;
    color: black;
}

.article-tags {
    display: flex;
    flex-wrap: wrap;
}

.article-tags p {
    margin-right: 2%;
    margin-bottom: 0;
    color: grey;

}

.article-pagination {
    margin: 3% auto 0% auto;
}

.articles-and-sidebar {
    display: flex;
    height: 100%;
}

.article-sidebar {
    width: 100%;
}

.article-tag-search {
    margin: 5% 0.5%;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #242424;
    color: white;
}

.article-tag-search-title {
    margin: 10% 10% 5% 10%;
    padding-bottom: 5%;
    border-bottom: 3px solid white;
    display: flex;
}

.article-tag-search-title h3 {
    font-family: 'M PLUS 2', sans-serif;
}

.article-tag-search-title p {
    margin: 1.5% 0 auto 10%;
    color: gray;
    font-family: 'Zen Dots', cursive;
}

.article-tag-search-form form {
    margin: 5% 0%;
}

.article-tag-search-form a {
    margin: 0 10%;
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 2', sans-serif;
}

.test ul {
    width: 75%;
    justify-content: center;
}

.latest-articles {
    margin-top: 15%;
}

.latest-articles a {
    text-decoration: none;
    color: black;
}

.latest-articles-title {
    padding-bottom: 3%;
    display: flex;
    border-bottom: 2px solid black;
}

.latest-articles-title h3 {
    font-family: 'M PLUS 2', sans-serif;
}

.latest-articles-title p {
    margin: 1.5% 0 auto 10%;
    font-family: 'Zen Dots', cursive;
    color: gray;
}

.latest-article {
    display: flex;
    padding: 5% 0;
    border-bottom: 1px solid gray;

}

.latest-article img {
    width: 40%;
    margin-right: 5%;
}

.latest-article h5 {
    width: 60%;
    margin: auto 0;
}

@media screen and (max-width:400px) {
    .articles {
        width: 100%;
        margin: 1% 0;
    }

    .article-wrapper {
        width: 47%;
        margin: 1% 1.5%;
    }

    .article-sidebar {
        display: none;
    }

    .article-title {
        font-size: medium;
    }

    .article-tags p {
        font-size: small;
    }

    .article-pagination ul {
        justify-content: center;
    }

    /* .article-tag-search-title p {
        display: none;
    }

    .latest-articles-title p {
        display: none;
    } */
}

/* 記事詳細 */

.article-show {
    padding: 3% 0;
    width: 50%;
}

.article-show-image {
    margin: 5% auto;
}

.article-show-image img {
    width: 100%;
    object-fit: cover;
}

.article-show-title {
    margin: 8% 0;
}

.article-show-title h1 {
    font-family: 'Shippori Mincho', serif;
    font-size: 3em;
}

.article-show-title p {
    font-family: 'Shippori Mincho', serif;
    font-size: 1.5em;
}

.article-show-body p {
    font-family: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', sans-serif;
    font-size: 1.25em;
}

.article-show-comments {
    width: 70%;
    padding: 3% 10% 2% 10%;
    margin: auto;
    border-top: 1px solid lightgray;
}

.article-show-comments-index {
    color: gray;
    text-align: center;
    margin-bottom: 3%;
}

.login-to-comment {
    padding-bottom: 5%;
}

.article-show-comment {
    margin-bottom: 3%;
    padding-bottom: 3%;
    border-bottom: 1px lightgray solid;
}

.article-show-comment p {
    margin-bottom: 0;
}

.article-show-comment-button {
    padding: 1% 3% 5% 3%;
}

@media screen and (max-width:400px) {
    .article-show {
        padding-bottom: 5%;
        width: 100%;
    }

    .article-show-image {
        margin: 2.3% auto;
    }

    .article-show-title {
        margin: 5% 4%;
    }

    .article-show-title h1 {
        font-size: 30px;
    }
    
    .article-show-title p {
        font-family: 'Shippori Mincho', serif;
        font-size: 20px;
    }

    .article-show-body {
        margin: 1.5% 4%;
        font-size: 13px;
    }

    .likes {
        padding-left: 15%;
    }

    .article-show-comments {
        width: 80%;
        padding: 3% 0% 2% 0%;
        margin: auto;
        border-top: 1px lightgray solid;
        border-width: 120%;
    }
}

/* 質問一覧画面 */

.questions {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    flex-shrink: 0;
}

.question {
    padding: 2.5%;
    width: 45%;
    margin: 1.5% 2.5%;
    background-color: #339999;
}

.question-title:hover {
    transform:scale(1.05);
    transition:0.5s all;
}

.question a {
    text-decoration: none;
    color: black;
}

.question-body {
    background-color: white;
    border-radius: 1rem;
}

.question-title {
    text-align: center;
    font-family: 'Hannotate SC', 'Kosugi Maru', 'MS UI Gothic', sans-serif;
}

.question-title h5 {
    border-radius: 1rem;
    margin: auto;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-show {
    padding: 8% 3% 3% 3%;
}

/* 質問詳細画面 */
.question-show-outer {
    height: 100%;
    min-height: 35vw;
    background-color: #339999;
    display: flex;
    border-radius: 0.5rem;
}

.question-show-inner {
    margin: 5%;
    padding: 0;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.question-show-question-wrapper {
    padding: 5% 3%;
    margin: 0 2%;
    border-bottom: 1px solid lightgray;
}

.question-show-title {
    margin-bottom: 5%;
    font-family: 'Hannotate SC', 'Kosugi Maru', 'MS UI Gothic', sans-serif;
}

.question-show-title p {
   font-size: 2.5vw;
}

.question-show-body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.question-show-body p {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.question-show-answer-wrapper {
    margin: 5%;
}

.question-show-answer-wrapper h2 {
    margin-bottom: 5%;
}

.question-show-answer {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.question-show-sup_image img {
    margin-top: 5%;
    width: 50%;
}

/* 質問投稿画面 */ 
.question-create {
    padding: 5% 0;
}