@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* トップ画面 */

.top-page {
    background-color: #f6f6f3;
}

.hero-images {
    margin-top: 3.5%;
}

@media screen and (max-width:767px) {
    .hero-images {
        margin-top: 10%;
    }
}

.hero-image {
    width: 100%;
    height: 58vw;
    object-fit: cover;
}

.fadein {
    opacity: 1;
    transition: opacity 2s;
  }
  
.fadeout {
    opacity: 0;
    transition: opacity 2s;
}
  
.slideshow {
    position: absolute;
}

.main {
    color: white;
    position: absolute;
    top: 15vw;
    left: 10vw;
}

@media screen and (max-width:767px) {
    .main {
        margin-top: 10%;
    }
}

.main .catchphrase {
    font-family: "YuKyokasho Yoko";
    font-size: 4vw;
    margin-bottom: 10vw;
}

.main .title {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
}

.main .title::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2%;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.main .title:hover::after {
    bottom: 10%;
    opacity: 1;
    visibility: visible;
  }

.concept {
    padding-top: 63vw;
    padding-bottom: 5vw;
    text-align: center;
    background-color: #f6f6f3;
}

.concept h1 {
    font-family: "YuKyokasho Yoko";
    color: black;
    font-size: 3.5vw;
}

.concept p {
    font-family: serif;
    font-size: 1.5vw;
    color: black;
    margin: 3vw 0;
}

.service {
    border: none;
}

.services {
    padding: 0vw 9vw;
    height: 27vw;
}

.service-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:0.5s all;
}

.service-img:hover {
    transform:scale(1.05);
    transition:0.5s all;
}

.service-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
    font-size: 2vw;
    font-weight: 700;
    position: absolute;
    bottom: 1vw;
    left: 10%;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    pointer-events: none
}

@media screen and (max-width:767px) {
    .service-name {
    bottom: -2.5vw;
    }
}

.service-name:hover {
    text-decoration: none;
    color: white;
}

.notifications {
    padding: 5vw;
    text-align: center;
}

/* フッター */

.footer {
    background-color: gray;
    color: white;
}

.footer-wrapper {
    display: flex;
}

.footer-main {
    padding: 3vw 15vw;
}

.footer-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
}

.footer-title:hover {
    color: #FF9966;
    text-decoration: none;
    transition: 0.5s;
}

.footer-service-list {
    padding: 0;
}

.footer-service-list li {
    font-family: 'Playfair Display', serif;
    font-size: 1.3vw;
    margin-left: 0;
    margin-right: 3vw;
    list-style: none;
    display: inline;
}

.footer-service-list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.footer-service-list li a:hover {
    color: #FF9966;
    transition: 0.5s;
}

.footer-second {
    padding-top: 3vw;
    padding-left: 15vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3vw;
}

.footer-detail {
    list-style: none;
    padding: 0;
}

.footer-detail li a {
    text-decoration: none;
    color: white;
}

.footer-detail li a:hover {
    color: #FF9966;
    transition: 0.5s;
}

@media screen and (max-width:767px) {
    .footer-wrapper {
        display: block;
        padding-left: 5vw;
    }

    .footer-main {
        padding: 5vw 5vw 0vw 5vw;
    }

    .footer-title {
        font-family: 'Playfair Display', serif;
        font-size: 7vw;
        text-decoration: none;
        color: white;
    }

    .footer-service-list li {
        font-family: 'Playfair Display', serif;
        font-size: 4vw;
        margin-left: 0;
        margin-right: 5vw;
        list-style: none;
        display: inline;
    }

    .footer-second {
        padding-top: 1vw;
        padding-bottom: 3vw;
        padding-left: 5vw;
        font-size: 3vw;
    }
    
    .footer-detail {
        list-style: none;
    }
}

/* ユーザー・アソシエイトログイン画面 */

.login-form {
    margin: 10vw 0;
}

.login-new-subscriber {
    margin-top: 1vw;
}

/* .login-header {
    font-size: 2vw;
} */

/* ユーザー・アソシエイト登録画面 */

.register-form {
    padding: 10% 0;
}

/* 画像投稿画面 */
.photo-create {
    padding: 5% 5%;
    margin: 5% 10%;
    background: linear-gradient(#b29f86 0%, #b29f86 20.43%, #473f35 100%);
}

.photo-create-form {
    padding: 7% 0;
    background-color: rgba(255, 255, 255, .8);
}

.photo-create-form-title {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Osaka', 'Yu Gothic UI', 'ヒラギノ角ゴシック','Hiragino Sans', sans-serif;

}


.photo-create-form-item {
    margin-left: 15%;
    font-family: 'M PLUS 2', sans-serif;
}

.photo-create-form-input {
    margin-left: 5%;
}

.photo-create-button button {
    background-color: #355469;
    color: white;
    box-shadow: 6px 6px 5px rgb(0 0 0 / 16%) inset;
    border: none;
    height: 2.5vw;
    width: 10vw;
    font-family: 'M PLUS 2', sans-serif;
}

/* 画像一覧 */
.service-top {
    display: flex;
    width: 100%;
    margin: 10% 0;
}

.service-top-image {
    width: 80%;
    height: 85%;
    position: absolute;
    right: 0%;
    top: 5%;
    object-fit: cover;
    /* z-index: ; */
}

.service-index {
    /* margin-top: 10%; */
    padding: 10% 3% 3% 3%;
}

.service-search-form {
    position: fixed;
    right: 11.5%;
    z-index: 1;
 /* top: 150px; */
}

.service-input {
    border: none;
    background-color: transparent;
    border-bottom: black 1px solid;
    border-radius: 0;
    
}

.service-input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s !important;
}

.service-input:focus {
    outline: none;
}

.service-index h1{
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 6vw;
    /* color: rgb(185, 149, 118); */
    color: maroon;
    z-index: 1;
    margin-top: 22%;
}

.articles {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.article-wrapper {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    background-color: white;
    width: 45%;
    margin: 1.5% 2.5%;
}

.article-wrapper a {
    text-decoration: none;
}

.article-image {
    text-align: center;
}

.article-image img {
    margin: 5%;
    width: 90%;
    /* height: 0%; */
}

.article-contents {
    /* font-family: 'Shippori Mincho', serif; */
    margin: 1% 5%;
}

.article-title, .article-body {
    font-family: 'Shippori Mincho', serif;
    color: black;
}

.article-tags {
    display: flex;
}

.article-tags p {
    margin-right: 2%;
    color: grey;
}

.article-pagination {
    margin: 3% auto 0% auto;
}

.article-sidebar {
    width: 100%;
}

.articles-and-sidebar {
    display: flex;
    height: 100%;
}

.article-tag-search {
    margin: 5% 0.5%;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #242424;
    color: white;
}

.article-tag-search-title {
    margin: 10% 10% 5% 10%;
    padding-bottom: 5%;
    border-bottom: 3px solid white;
    display: flex;
}

.article-tag-search-title h3 {
    font-family: 'M PLUS 2', sans-serif;
}

.article-tag-search-title p {
    margin: 1.5% 0 auto 10%;
    color: gray;
    font-family: 'Zen Dots', cursive;
}

.article-tag-search-form form {
    margin: 5% 0%;
}

.article-tag-search-form a {
    margin: 0 10%;
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 2', sans-serif;
}

.test ul {
    width: 75%;
    justify-content: center;
}

.latest-articles {
    margin-top: 15%;
}

.latest-articles-title {
    padding-bottom: 3%;
    display: flex;
    border-bottom: 2px solid black;
}

.latest-articles-title h3 {
    font-family: 'M PLUS 2', sans-serif;
}

.latest-articles-title p {
    margin: 1.5% 0 auto 10%;
    font-family: 'Zen Dots', cursive;
    color: gray;
}

.latest-article {
    display: flex;
    padding: 5% 0;
    /* border-bottom: 1px solid gray; */
    border-bottom: 1px solid gray;

}

.latest-article img {
    width: 40%;
    margin-right: 5%;
}

.latest-article h5 {
    width: 60%;
    margin: auto 0;
}

/* 質問一覧画面 */

.questions {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    flex-shrink: 0;
}

.question {
    padding: 2.5%;
    width: 45%;
    margin: 1.5% 2.5%;
    background-color: #339999;
}

.question a {
    text-decoration: none;
    color: black;
}

.question-body {
    background-color: white;
    border-radius: 1rem;
}

.question-title {
    text-align: center;
    font-family: 'Hannotate SC', 'Kosugi Maru', 'MS UI Gothic', sans-serif;
}

.question-title h5 {
    border-radius: 1rem;
    margin: auto;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-show {
    padding: 8% 3% 3% 3%;
}

/* 質問詳細画面 */
.question-show-outer {
    height: 100%;
    min-height: 35vw;
    background-color: #339999;
    display: flex;
    border-radius: 0.5rem;
}

.question-show-inner {
    margin: 5%;
    padding: 0;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.question-show-question-wrapper {
    padding: 5% 3%;
    margin: 0 2%;
    border-bottom: 1px solid lightgray;
    /* margin-bottom: 5%; */
}

.question-show-title {
    margin-bottom: 5%;
    font-family: 'Hannotate SC', 'Kosugi Maru', 'MS UI Gothic', sans-serif;
    /* min-height: 4vw; */
    /* height: 100%; */
}

.question-show-title p {
   font-size: 2.5vw;
   /* margin: 0 3%; */
}

.question-show-body {
    /* height: 100%; */
    /* min-height: 31vw; */
    /* margin-bottom: 5%; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.question-show-body p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    height: 100%;
    /* height: 10vw; */
}

.question-show-answer-wrapper {
    margin: 5%;
}

.question-show-answer-wrapper h2 {
    margin-bottom: 5%;
}

.question-show-answer {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}